@import "../../variables.scss";
.dropdown-menu {
  background: $yellowGreen;
  width: 200px;
  position: absolute;
  top: 40px;
  list-style: none;
  text-align: start;
  z-index: 2;
  border-radius: 10px;

  li,
  span {
    cursor: pointer;
    &:hover {
      background: $green;
    }
  }
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $white;
    padding: 5px;
  }
}

.dropdown-menu.clicked {
  display: none;
}
