@import "../../variables.scss";
footer {
  margin-bottom: auto;
  background-color: $greyGreen;
  .footerContainer {
    display: grid;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    padding: 6px;

    .info {
      background-color: $lightGrey;
      margin: 2.2em;
      padding-top: 1em;
      border-radius: 1em;
      text-align: center;
      .hInfo {
        color: white;
        font-weight: bolder;
      }

      .hrInfo {
        border: 1px solid $white;
        width: 14em;
        margin: 0 auto;
      }
      .text {
        padding: 2.1em;
        strong {
          font-weight: bolder;
          font-size: 1.3em;
          color: $yellowGreen;
        }
        p {
          color: $white;
          font-weight: bolder;
        }
      }
    }

    .follow {
      background-color: $lightGrey;
      margin: 2em;
      padding-top: 1em;
      border-radius: 1em;
      text-align: center;
      .hFollow {
        color: white;
        font-weight: bolder;
      }
      .hrFollow {
        border: 1px solid $yellowGreen;
        margin: 0 auto;
        width: 14em;
      }
      ul {
        padding: 3em;
        li {
          all: unset;
          padding: 1em;
          cursor: pointer;
        }
        svg {
          width: 30px;
          height: 30px;
          color: $white;
          box-shadow: $basicShadow;
          border-radius: 0.5em;
          &:hover {
            color: $yellowGreen;
          }
        }
      }
    }
    .contact {
      background-color: $lightGrey;
      margin: 2em;
      padding-top: 1em;
      border-radius: 1em;
      text-align: center;
    }
    .hContact {
      font-weight: bolder;
      color: white;
    }
    .hrContact {
      border: 1px solid $white;
      margin: 0 auto;
      width: 14em;
    }
    .send {
      padding: 2.3em;
      cursor: pointer;

      &:hover {
        color: $white;
      }
      svg {
        width: 1.5em;
        height: 1.5em;
        color: $white;
      }
      h3,
      strong {
        font-weight: bolder;
        color: $yellowGreen;
        box-shadow: $basicShadow;
        border-radius: 1em;
        &:hover {
          color: $white;
        }
      }
    }
  }
  .allRights {
    margin: 0 auto;
    padding-bottom: 2em;
    text-align: center;
    strong {
      font-weight: bolder;
      color: $yellowGreen;
    }
  }
}
