$white: white;
$greyGreen: rgb(77, 88, 77);
$lightGrey: #626d64;
$yellowGreen: #9acd32;
$green: green;
$orange: orange;
$lightPeach: rgb(228, 187, 111);

$shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
$animation: width 0.4s linear;
$transition: 320ms all ease-in-out;
