@import "../../variables.scss";
header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  background: $greyGreen;
  z-index: 1;
  h2 {
    margin: 0.4em;
    color: $yellowGreen;
  }
  span {
    margin: 0.2em;
    margin-left: 3.5em;
  }

  .user,
  .newUser {
    margin: 0.8em;
    display: flex;
    justify-content: space-around;
    .counter {
      padding: 0 2px;
      color: $white;
    }
    .anticon {
      padding: 0.2em;
      color: $white;
      font-size: xx-large;
      &:hover {
        color: $yellowGreen;
      }
    }
    span,
    a {
      all: unset;
      padding: 0.8em;
      color: $white;
      cursor: pointer;
      &:hover {
        color: $yellowGreen;
      }
    }
  }
}
