@import "../../variables.scss";
.search {
  height: 2em;
  .searchbar {
    background-color: $greyGreen;
    border-radius: 30px;
    padding: 0.4em;
    display: flex;

    input {
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 0;
      caret-color: $yellowGreen;
      transition: $animation;
    }
    .loop {
      height: 2em;
      width: 2em;
      font-size: x-large;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
      text-decoration: none;
      &:hover {
        background: $yellowGreen;
      }
    }
    &:hover > input {
      width: 10rem;
      caret-color: $yellowGreen;
      transition: $animation;
    }
  }
  @media screen and (max-width: 960px) {
    .searchbar {
      display: block;
      width: auto;
    }
  }
}
