@import "../../variables.scss";
.Search {
  background: rgba($color: $white, $alpha: 1);
  margin: auto;
  border-radius: 4em;
  direction: flex;
  z-index: 2;

  .searchbar {
    display: flex;

    input {
      color: $lightPeach;
      border: 0;
      outline: 0;
      padding-left: 2em;
      background: none;
      caret-color: $lightPeach;
    }
    .loop {
      height: 1.5em;
      width: 1.5em;
      font-size: x-large;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $lightGrey;
      text-decoration: none;
      &:hover {
        background: $yellowGreen;
      }
    }
  }
  @media only screen and (max-width: 700px) {
    margin-left: -5em;
    margin-top: 2.5em;
  }
}
