@import "../../variables.scss";
.cart-item {
  display: grid;
  grid-template-columns: 40% 15% 15% 15% 15%;
  grid-template-rows: auto 1fr;
  grid-template-areas: "product price qty total remove";
  img,
  .name {
    grid-area: product;
  }
  img {
    width: 70px;
    height: 70px;
    padding-top: 0.5em;
  }
  .name {
    padding-top: 0.5em;
    margin-top: 70px;
    font-weight: bolder;
    font-size: 1.2em;
    color: $greyGreen;
  }
  .price {
    grid-area: price;
    color: $greyGreen;
    padding: 0.6em;
    font-size: 1.2em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .up-btn,
  .down-btn,
  .amount {
    grid-area: qty;
    border: none;
    background-color: transparent;
  }
  .up-btn {
    margin-left: auto;
    font-size: 2em;
    cursor: pointer;
  }
  .down-btn {
    font-size: 2em;
    margin-right: auto;
    cursor: pointer;
  }
  .amount {
    font-size: 1.2em;
    align-self: center;
    margin: 0px 50px 0px;
    margin-bottom: 3em;
  }
  .totalPrice {
    grid-area: total;
    margin: 15px 50px 0px;
    font-size: 1.2em;
  }

  .remove-btn {
    grid-area: remove;
    margin-bottom: 2.8em;
    border: none;
    border-color: transparent;
    background-color: transparent;
    color: $lightPeach;
    font-weight: bolder;
    font-size: 1.5em;
  }
}
