@import "../../../variables.scss";
.signUp {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $greyGreen;
  }
  .form {
    width: 50%;

    label {
      color: darkgreen;
      font-style: italic;
    }

    .ant-btn {
      background: $yellowGreen;
      border-color: $greyGreen;
      color: white;
      &:hover {
        color: $yellowGreen;
        border-color: $yellowGreen;
      }
    }
  }
  span {
    color: $greyGreen;
    a {
      color: $orange;
    }
  }
}
